:root {
  --cl-primary-400: hsl(184, 68%, 54%);

  --cl-secondary-400: hsl(192, 36%, 21%);
  --cl-secondary-500: hsl(185, 73%, 10%);

  --fs-xl: clamp(1rem, .5rem + 10vw, 3rem);
  --fs-600: 1.375rem;
  --fs-400: 1.25rem;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: var(--fs-400);
}

* {
  box-sizing: border-box;
}

.intro {
  background-color: var(--cl-secondary-400);
  padding-inline: min(15vw, 7.625rem); 
  padding-block: min(15vw, 9.25rem);
  color: white;
}

.intro__text h1 {
  font-size: var(--fs-xl);
  line-height: 1em;
  font-weight: 800;
}

.intro__text p {
  font-weight: 300;
  letter-spacing: .05em;
  line-height: 1.4em;
  margin-bottom: 3em;
}

.btn {
  display: inline-block;
  border-radius: 100px;
  padding: .72em  2.18em;

  background: var(--cl-primary-400);
  
  text-transform: uppercase;
  font-size: var(--fs-600);
  font-weight: 700;
  letter-spacing: .05em;
  color: var(--cl-secondary-500);
}

.intro__text {
  width: 60%;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

@media (max-width:1024px) {
  .intro__text {
    width: 100%;
  }
}